@import './scss/_mixins';
// pour importer un élément: @include absolute-el()
@import './scss/_placeholders'; 
// pour importer un élément: @extend %lenomdetonplaceholder
@import './scss/_variables';
// pour importer un élément: $exemplecouleur

body{
    margin:0;
    padding: 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#00ceba), to(#b07ed0));
    background-image: linear-gradient(to bottom right, #00ceba, #b07ed0);
    background-attachment: fixed;
 }
 
#pp{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-image: url(https://cdn.discordapp.com/attachments/456518660211736577/1041667413130887238/received_484205273034625.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

article{
    background-color: $fond-clair;
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    margin: 1em;
    padding:1em;
    border-radius: 0.4em;
}

.all-movie-cards article img {
    width: 22em;
    height: auto;
    margin-top: 20px;
    border-radius: 0.4em;

  }
  
.all-movie-cards article h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  }

.synopsis {
    max-width: 95%;
}

.genre {
    background-color: #8bfff3;
    padding: 0.2em;
    border-radius: 1em;
    text-align: center;
}

@media screen and (min-width: 1023px) {


article {
    display: flex;
    justify-content: center;
    align-items: center;
    width:80em;
    height: auto;
    margin: 5em;
    padding: 1em;
}

.text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;

}


}